# Ignore build output
painter
*.o

# Editor files
*.swp
*~

# VS Code settings (optional)
.vscode/

# Logs, temp files
*.log

# File with different examples
examples

# Shows how to compile an run the app
Use.txt